@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

:root{
  --bg-color: #e8e8e8;
  --bg-color-2: #2A2A2A;
  --hover-color:#75edf1;
  --text-color: #f1f1f1;
  --text-color-2: #3a3a3a;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html{
  width:100vw;
  height:100vh;
  font-family: 'Poppins', sans-serif;
}

body{
  background: var(--bg-color);
}

/* Cor do texto do autocomplete  em caso do navegador informar opções*/
input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
    -webkit-text-fill-color: var(--text-color-2);
    -webkit-box-shadow: 0 0 0px 1000px var(--bg-color) inset;
    text-transform: uppercase;
}



